/* Forside login */

  * {
    padding: 0px;
    margin: 0px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb(106, 106, 106);
}

body {
    background-color: #ffe4f1;
    background-size: cover;
}

/* -----logo----- */ 

.logo1 {
    width: 75%;
    height: 75%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    left: 0;
    border: 1px;
}

/* -----Detaljer i hjørnerne----- */

.blåbølge {
    position: absolute;
    width: 35%;
    height: 25%;
    top: 0px;
    right: 0px;
}

.pinkbølge {
    position: absolute;
    width: 15%;
    height: 40%;
    top: 0px;
    right: 0px;
}

.pinkbølgebund {
    position: absolute;
    width: 75%;
    height: 15%;
    bottom: 0px;
    left: 0px;
}
.blåbølgebund {
    position: absolute;
    width: 50%;
    height: 45%;
    bottom: 0px;
    left: 0px;
}

.hvidhøjre {
    position: absolute;
    width: 19%;
    height: 30%;
    top: 0px;
    right: 0px;
}

.hvidbund {
    position: absolute;
    width: 73%;
    height: 40%;
    bottom: 0px;
    left: 0px;
}

/* -----Login sektionen----- */

.øje {
        position: absolute;
        width: 5%;
        height: 2,5%;
        left: 687px;
        margin-top: 290px;
}

.yogo-login h1 {
    text-align: center;
    margin: 175px 0;
}

.yogo-login p {
    font-size: 40px;
    color: white;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 215px;
}

.yogo-login input {
    font-size: 30px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 40px;
    border: 0;
    outline: none;
    border-radius: 20px;

}

a {
    text-decoration: none;
}

.loginbox button {  
    font-size: 30px;
    font-weight: bold;
    margin: 50px 50px;
    margin-top: 100px;
    padding: 25px 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
    border-radius: 20px;
    border: 0;
    color: white;
    background-color: #ff62b0;
}
.createbox button {
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0px;
    padding: 20px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 20px;
    border: 0;
    color: #ff62b0;
    background-color: white;
}

.forgot {
    margin-left: 650px;
    margin-top: -350px;
    color: rgb(106, 106, 106);
}